.extended-content {
  width: 75vw;
  margin-left: 30px;
  overflow: hidden;

  @media (max-width: $breakpointSM) {
    width: 100%;
    margin-left: 0;
    overflow: visible;
  }

  .page-frontend-grid {
    &:last-child {
      margin: 150px 0;

      @media (max-width: $breakpointSM) {
        margin: 50px 0;
      }
    }
  }

  .Baner_grid.page-frontend-grid {
    .product-frontend-feature-stock {
      box-shadow: 0 25px 50px -50px rgba(0, 0, 0, 0.4);
      > .bx-wrapper {
        position: relative;
        .bx-viewport {
          @media (max-width: $breakpointSM) {
            height: auto !important;
          }
          .slider-wrap {
            .page-frontend-listing-item {
              // position: relative;
              overflow: hidden;
              @media (max-width: $breakpointSM) {
                width: calc(100vw - 30px) !important;
              }
              .widget-inner {
                overflow: hidden;
                @media (max-width: $breakpointSM) {
                  display: flex;
                  flex-direction: column;
                }
                .page-frontend-photo {
                  display: block;
                  width: fit-content;
                  margin: 0 0 0 auto;
                  @media (max-width: $breakpointSM) {
                    order: 2;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                  }
                  > img {
                    @media (max-width: $breakpointSM) {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .page-frontend-cms {
                  width: fit-content;
                  position: absolute;
                  top: 0;
                  width: 100%;
                  @media (max-width: $breakpointSM) {
                    width: 100%;
                    position: relative;
                    order: 1;
                  }

                  > .page-content {
                    text-transform: uppercase;
                    text-align: start;
                    font-size: 25px;
                    font-weight: 500;
                    line-height: normal;
                    @media (max-width: $breakpointSM) {
                      text-align: center;
                      font-size: 18px;
                      font-weight: 600;
                      margin-bottom: 15px;
                    }
                    > h4 {
                      color: $detailsColorExtra;
                      font-weight: 700;
                      font-size: 45px;
                      line-height: 45px;
                      padding: 10px 0;
                      margin: 0;
                      @media (max-width: $breakpointSM) {
                        font-size: 24px;
                        line-height: normal;
                      }
                    }
                    h1 {
                      color: $detailsColorExtra;
                      font-weight: 900;
                      font-size: 135px;
                      line-height: 130px;
                      @media (max-width: $breakpointSM) {
                        font-size: 40px;
                        display: inline;
                        line-height: normal;

                        &::before {
                          content: "\A";
                          white-space: pre;
                        }
                      }
                    }
                    span {
                      color: $detailsColorExtra;
                      font-weight: 900;
                      @media (max-width: $breakpointSM) {
                        font-size: 40px;
                        display: inline;
                      }
                    }
                  }
                }
                .page-frontend-external-link {
                  position: absolute;
                  bottom: 0;
                  max-width: 300px;
                  width: 100%;
                  font-weight: 500;
                  border: 1px solid $textHeader;
                  transform: translateY(-100%);
                  transition: all 0.2s ease-in-out;
                  @media (max-width: $breakpointSM) {
                    max-width: calc(100vw - 32px);
                    order: 3;
                    transform: translateY(0);
                    position: relative;
                    margin: 15px 0;
                  }

                  &:hover {
                    background-color: $textColor;
                  }
                  a {
                    padding: 15px 0;
                    display: block;
                    font-size: 18px;
                    color: $textHeader;
                    text-align: center;
                    font-weight: 500;
                    transition: all 0.2s ease-in-out;
                    @media (max-width: $breakpointSM) {
                      font-weight: 600;
                    }
                    &:hover {
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
        .bx-controls {
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 50px;
          margin: auto;
          @media (max-width: $breakpointSM) {
            position: relative;
            width: calc(100% - 30px);
            height: auto;
            padding-bottom: 15px;
          }
        }
      }
    }
  }

  .Kafel_grid.page-frontend-grid {
    max-width: 1145px;
    width: 100%;
    margin: 100px auto 100px 0;

    @media (max-width: $breakpointSM) {
      margin: 50px auto 50px 0;
    }
    .page-frontend-listing {
      .widget-inner.listing {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @media (max-width: $breakpointMD) {
          justify-content: space-between;
        }

        .page-frontend-listing-item {
          position: relative;
          width: calc((100% - 60px) / 3);
          height: 390px;
          overflow: hidden;
          margin-bottom: 30px;
          @media (max-width: $breakpointMD) {
            width: calc((100% - 30px) / 2);
            margin-left: 0px;
            margin-right: 0px;
            height: 40vw;
          }
          @media (max-width: $breakpointMD) {
            height: 50vw;
            width: calc((100% - 10px) / 2);
            margin-bottom: 10px;
          }

          &:nth-child(3n + 2) {
            margin-left: 30px;
            margin-right: 30px;
            @media (max-width: $breakpointMD) {
              margin-left: 0;
              margin-right: 0;
            }
          }

          .image.page-frontend-photo {
            img {
              position: absolute;
              min-width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .page-frontend-external-link {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: calc(100% - 20px);
              width: calc(100% - 20px);
              color: #fff;
              font-size: 38px;
              font-weight: 200;
              text-transform: uppercase;
              text-shadow: 2px 2px 3px #58595bad;
              overflow-wrap: break-word;
              word-wrap: break-word;
              transition: color 0.5s linear;
              padding: 10px;

              @media (max-width: $breakpointSM) {
                font-size: 18px;
              }

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }
  }

  .page-frontend-grid {
    max-width: 1145px;
    width: 100%;
    .tabs-plain {
      .bx-controls {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 50px;
        margin: auto;
        @media (max-width: $breakpointSM) {
          position: relative;
          width: calc(100% - 30px);
          height: auto;
          padding-bottom: 15px;
        }
      }
      ul.nav.nav-pills {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 50px 0;

        li {
          a {
            display: block;
            padding: 10px 20px;
            text-align: center;
            color: $textColorExtra;
            text-transform: lowercase;
            font-size: 30px;
            font-weight: 700;

            @media (max-width: $breakpointMD) {
              font-size: 20px;
            }
            @media (max-width: $breakpointMD) {
              padding: 5px 10px;
            }
            @media (max-width: 500px) {
              font-size: 16px;
            }
            @media (max-width: $breakpointXS) {
              font-size: 14px;
            }

            &::first-letter {
              text-transform: uppercase;
            }
          }
          &.active {
            a {
              color: $textColor;
            }
          }
        }
      }
      .tab-content {
        .page-frontend-listing-item {
          width: calc(((1145px - 75px) / 4) - 30px) !important;
          margin: 0 15px;
          @media (max-width: 1650px) {
            width: calc(((75vw - 110px) / 4) - 30px) !important;
            transform: translateX(-40px);
          }
          @media (max-width: $breakpointLG) {
            width: calc(((75vw - 115px) / 3) - 30px) !important;
            transform: translateX(40px);
          }
          @media (max-width: $breakpointMD) {
            width: calc(((100vw - 60px) * 0.75 / 2) - 60px) !important;
            transform: translateX(3.2vw);
          }
          @media (max-width: $breakpointSM) {
            width: calc((100vw - 30px) / 2 - 30px) !important;
            transform: translateX(75px);
          }
        }
        .page-frontend-tab-item {
          display: none;
          width: calc(100% - 70px);
          margin: auto;
          opacity: 0;
          transition: opacity 0.2s ease;
          @media (max-width: $breakpointSM) {
            width: 100%;
          }
          h3 {
            font-size: 0;
          }
          .bx-viewport {
            height: auto !important;
          }
          .bx-controls {
            width: 100%;
            top: 150px;
            bottom: unset;
            transform: translateY(-50%);
            position: absolute;
            .bx-controls-direction {
              min-width: calc(100% + 30px);
              display: flex;
              justify-content: space-between;
              @media (max-width: $breakpointSM) {
                min-width: calc(100% + 30px);
              }

              .bx-prev {
                transform: translateX(-50%);
                background-color: #fff;
                @media (max-width: $breakpointSM) {
                  transform: translateX(0%);
                }
              }
              .bx-next {
                transform: translateX(50%);
                background-color: #fff;
                @media (max-width: $breakpointSM) {
                  transform: translateX(0%);
                }
              }
            }
            .bx-pager {
              display: none;
            }
          }
          &.active {
            display: block;
            opacity: 1;
            // height: initial;
          }
          .image.page-frontend-photo {
            margin: auto;
            width: auto;
            order: unset;
            a {
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                object-fit: cover;
                height: max-content;
              }
            }
          }
          .page-frontend-title {
            height: auto;
            margin: 35px 0;
            h2 {
              display: block !important;
              font-size: 18px;
              font-weight: 600;
              line-height: normal;
              min-height: 4em;
            }
          }
          .product-frontend-price {
            .placeholder {
              font-size: 18px;
              font-weight: 700;
              &::after {
                content: "w tym 23% VAT \A ""wysyłka od 8zł";
                display: block;
                white-space: pre;
                padding-top: 5px;
                font-size: 12px;
                font-weight: 600;
                line-height: normal;
              }
            }
          }
          .product-frontend-feature-stock {
            > .bx-wrapper {
              position: relative;
              .bx-viewport {
                @media (max-width: $breakpointSM) {
                  height: auto !important;
                }
              }
            }
          }
        }
      }
    }
    .page-frontend-context {
      text-align: center;

      h4 {
        margin: 50px auto;
        font-size: 30px;
        font-weight: 700;

        @media (max-width: $breakpointSM) {
          margin: 20px auto;
          font-size: 18px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
      }

      .page-frontend-link {
        margin: 50px auto;

        a {
          display: block;
          margin: auto;
          padding: 15px 80px;
          width: fit-content;
          font-size: 18px;
          font-weight: 500;
          border: 1px solid $textHeader;
          transition: all 0.4s ease;

          @media (max-width: $breakpointSM) {
            padding: 15px 0px;
            width: calc(100%);
            font-weight: 600;
          }

          &:hover {
            color: #fff;
            background-color: $bgrColorExtraLighter;
          }
        }
      }
    }
  }
}
