body {
  background-color: #fff;
  font-family: $fontFamily;
  color: $textColor;

  a {
    text-decoration: none;
    color: $textColor;
    font-size: 22px;
    // font-weight: 500;

    &.disabled{
      display: none;
    }
  }
  .wrapper {
    width: 100%;
    .extended {
      box-sizing: border-box;
      display: flex;
      padding: 0 25px;
      width: 100%;   
      
      @media (max-width: $breakpointSM){
        flex-direction: column;
        padding: 0 15px;
      }
    }
  }
}
