/*
    VARIABLES
*/
//Font family
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap&subset=latin-ext");
$fontFamily: "Montserrat", sans-serif;

//Colors
$bgrColor: #fff;
$bgrColorExtraLighter: #444343;
$bgrColorExtraDarker: #242323;

$textColor: #2e2d2d;
$textColorExtra: #a2a1a1;
$textHeader: #060606;

$detailsColor: #ff5260;
$detailsColorExtra: #f70909;
$detailsColorBasket: #231f20;

$borderColor: #c9c7c8;
$borderColorDark: #7d7979;

$pagerDisactive: #d3cece;

//Breakpoints for media queries
$breakpointXS: 360px;
$breakpointSM: 768px;
$breakpointMD: 960px;
$breakpointLG: 1280px;
$breakpointXL: 1920px;
