@charset "UTF-8";
/*
    VARIABLES
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap&subset=latin-ext");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #2e2d2d;
}

body a {
  text-decoration: none;
  color: #2e2d2d;
  font-size: 22px;
}

body a.disabled {
  display: none;
}

body .wrapper {
  width: 100%;
}

body .wrapper .extended {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  width: 100%;
}

.page-head.page-frontend-page-header {
  background-color: #fff;
  height: 100px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #060606;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .common-frontend-logo {
  margin-right: auto;
  margin-left: 25px;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-menu {
  width: 100%;
  margin-left: 200px;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-menu ul .__item {
  padding: 20px;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  margin: auto 25px;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .facebook,
.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .instagram,
.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .youtube {
  display: block;
  height: 28px;
  width: 28px;
  padding: 0 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .facebook span,
.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .instagram span,
.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .youtube span {
  font-size: 0px;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .facebook {
  background-image: url("../Images/iconFb.png");
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .instagram {
  background-image: url("../Images/iconIns.png");
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .social-frontend-contact > .youtube {
  background-image: url("../Images/iconTw.png");
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .language-frontend-language-switch .language-language > span {
  display: none;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .language-frontend-language-switch .language-language > select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../Images/arrow.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  width: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .language-frontend-language-switch .language-language > select option {
  background-color: #444343;
  color: #fff;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-grid .account-frontend-logged-user {
  margin: auto 45px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-grid .account-frontend-logged-user .linkToLogin,
.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-grid .account-frontend-logged-user .linkToRegister {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #060606;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-grid .account-frontend-logged-user:after {
  content: "/";
  position: absolute;
  left: 50%;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-grid .basket-frontend-bill {
  position: relative;
  background-color: #231f20;
  width: 95px;
  height: 100%;
  background-image: url("../Images/basket.png");
  background-position: center;
  background-repeat: no-repeat;
}

.page-head.page-frontend-page-header .widget-inner.cols-1 .page-frontend-grid .basket-frontend-bill:after {
  content: attr(data-type);
  position: absolute;
  right: 20%;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background-color: #ff5260;
  color: #fff;
  font-size: 12px;
}

.page-head.page-frontend-page-header .basket-container-top.page-frontend-grid {
  display: none;
}

.extended-sidebar {
  margin: 0 15px;
  width: 350px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #060606;
}

.extended-sidebar .widget-inner.cols-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.extended-sidebar .widget-inner.cols-1 #category {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-left: 10px;
}

.extended-sidebar .widget-inner.cols-1 #category [data-level="1"] {
  border-bottom: none;
}

.extended-sidebar .widget-inner.cols-1 #category [data-level="1"]:last-child {
  border-bottom: 1px solid #c9c7c8;
}

.extended-sidebar .page-frontend-search-filter-query {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 15px auto 25px auto;
  width: 100%;
}

.extended-sidebar .page-frontend-search-filter-query input#search_query {
  border: none;
  outline: none;
  height: 25px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 3px 0px 0px black;
          box-shadow: 0px 3px 0px 0px black;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.extended-sidebar .page-frontend-search-filter-query input#search_query:focus {
  -webkit-box-shadow: 0px 3px 0px 0px #c9c7c8;
          box-shadow: 0px 3px 0px 0px #c9c7c8;
}

.extended-sidebar .page-frontend-search-filter-query .common-button {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 0px;
  height: 25px;
  width: 25px;
  background: url("../Images/search.png") no-repeat;
  background-size: contain;
}

.extended-sidebar .page-frontend-button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.extended-sidebar .page-frontend-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.extended-sidebar .page-frontend-button a:after {
  content: "";
  display: block;
  background-image: url("../Images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.extended-sidebar .page-frontend-button a.active:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.extended-sidebar .category-frontend-tree {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.extended-sidebar .category-frontend-tree [data-level="0"] {
  padding: 10px 0;
}

.extended-sidebar .category-frontend-tree [data-level="0"] a,
.extended-sidebar .category-frontend-tree [data-level="0"] span {
  display: block;
  padding: 5px 0;
  font-size: 22px;
}

.extended-sidebar .category-frontend-tree [data-level="1"] {
  border-bottom: 1px solid #c9c7c8;
  padding: 10px 0;
}

.extended-sidebar .category-frontend-tree [data-level="1"] a,
.extended-sidebar .category-frontend-tree [data-level="1"] span {
  font-size: 16px;
}

.extended-sidebar .category-frontend-tree [data-level="1"]:nth-child(2) a, .extended-sidebar .category-frontend-tree [data-level="1"]:nth-child(3) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.extended-sidebar .category-frontend-tree [data-level="1"]:nth-child(2) a:after, .extended-sidebar .category-frontend-tree [data-level="1"]:nth-child(3) a:after {
  content: "";
  display: block;
  background-image: url("../Images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
  margin: 0 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.extended-sidebar .category-frontend-tree [data-level="1"]:last-child a {
  color: #f70909;
}

.extended-sidebar .category-frontend-tree [data-level="2"] {
  margin-left: 20px;
}

.extended-sidebar .category-frontend-tree [data-level="2"] a,
.extended-sidebar .category-frontend-tree [data-level="2"] span {
  font-size: 14px;
}

.extended-content {
  width: calc(100% - 410px);
  margin-left: 30px;
}

.extended-content .page-frontend-grid:last-child {
  margin: 150px 0;
}

.extended-content .Baner_grid.page-frontend-grid .product-frontend-feature-stock {
  -webkit-box-shadow: 0 25px 50px -50px rgba(0, 0, 0, 0.4);
          box-shadow: 0 25px 50px -50px rgba(0, 0, 0, 0.4);
}

.extended-content .product-frontend-feature-stock .bx-wrapper {
  position: relative;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-photo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 auto;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-cms {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-cms > .page-content {
  text-transform: uppercase;
  text-align: start;
  font-size: 25px;
  font-weight: 500;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-cms > .page-content > h4 {
  color: #f70909;
  font-weight: 700;
  font-size: 45px;
  padding: 10px 0;
  margin: 0;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-cms > .page-content h1 {
  color: #f70909;
  font-weight: 900;
  font-size: 135px;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-cms > .page-content span {
  color: #f70909;
  font-weight: 900;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-external-link {
  max-width: 300px;
  width: 100%;
  font-weight: 500;
  padding: 15px 0;
  border: 1px solid #060606;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.extended-content .product-frontend-feature-stock .bx-wrapper .slider-wrap .page-frontend-listing-item .widget-inner .page-frontend-external-link a {
  display: block;
  font-size: 18px;
  color: #060606;
  text-align: center;
}

.extended-content .product-frontend-feature-stock .bx-wrapper .bx-controls {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  margin: auto;
}

.extended-content .Kafel_grid.page-frontend-grid {
  max-width: 1145px;
  width: 100%;
  margin: 100px auto 100px 0;
}

.extended-content .Kafel_grid.page-frontend-grid .page-frontend-listing .widget-inner.listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.extended-content .Kafel_grid.page-frontend-grid .page-frontend-listing .widget-inner.listing .page-frontend-listing-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  height: 390px;
  overflow: hidden;
  margin-bottom: 30px;
}

.extended-content .Kafel_grid.page-frontend-grid .page-frontend-listing .widget-inner.listing .page-frontend-listing-item:nth-child(3n + 2) {
  margin-left: 30px;
  margin-right: 30px;
}

.extended-content .Kafel_grid.page-frontend-grid .page-frontend-listing .widget-inner.listing .page-frontend-listing-item .image.page-frontend-photo img {
  position: absolute;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.extended-content .Kafel_grid.page-frontend-grid .page-frontend-listing .widget-inner.listing .page-frontend-listing-item .page-frontend-external-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.extended-content .Kafel_grid.page-frontend-grid .page-frontend-listing .widget-inner.listing .page-frontend-listing-item .page-frontend-external-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  color: #fff;
  font-size: 38px;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #58595bad;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
  padding: 10px;
}

.extended-content .Kafel_grid.page-frontend-grid .page-frontend-listing .widget-inner.listing .page-frontend-listing-item .page-frontend-external-link a:hover {
  color: #000;
}

@media (min-width: 1920px) {
  .extended-content .Kafel_grid.page-frontend-grid {
    max-width: 100vw;
  }
}

.extended-content .page-frontend-grid {
  max-width: 1145px;
  width: 100%;
}

.extended-content .page-frontend-grid .tabs-plain ul.nav.nav-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.extended-content .page-frontend-grid .tabs-plain ul.nav.nav-pills li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: #a2a1a1;
  text-transform: lowercase;
  font-size: 30px;
  font-weight: 700;
}

.extended-content .page-frontend-grid .tabs-plain ul.nav.nav-pills li a::first-letter {
  text-transform: uppercase;
}

.extended-content .page-frontend-grid .tabs-plain ul.nav.nav-pills li.active a {
  color: #2e2d2d;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-listing-item {
  width: calc((1145px/4) - 30px) !important;
  margin: 0 15px;
}

@media (min-width: 1920px) {
  .extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-listing-item {
    width: calc(100vw/4 -30px);
  }
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item {
  height: 0;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item h3 {
  font-size: 0;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .bx-viewport {
  height: auto !important;
  padding-bottom: 50px;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .bx-controls {
  width: 100%;
  top: 150px;
  bottom: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .bx-controls .bx-controls-direction {
  min-width: calc(100% + 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .bx-controls .bx-controls-direction .bx-prev {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .bx-controls .bx-controls-direction .bx-next {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .bx-controls .bx-pager {
  display: none;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item.active {
  display: block;
  opacity: 1;
  height: initial;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .image.page-frontend-photo {
  margin: auto;
  width: auto;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .image.page-frontend-photo a {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .page-frontend-title {
  height: auto;
  margin: 35px 0;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .page-frontend-title h2 {
  display: block !important;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  min-height: 4em;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .product-frontend-price .placeholder {
  font-size: 18px;
  font-weight: 700;
}

.extended-content .page-frontend-grid .tabs-plain .tab-content .page-frontend-tab-item .product-frontend-price .placeholder::after {
  content: "w tym 23% VAT \A "  "wysyłka od 8zł";
  display: block;
  white-space: pre;
  padding-top: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}

.extended-content .page-frontend-grid .page-frontend-context {
  text-align: center;
}

.extended-content .page-frontend-grid .page-frontend-context h4 {
  margin: 50px auto;
  font-size: 30px;
  font-weight: 700;
}

.extended-content .page-frontend-grid .page-frontend-context p {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.extended-content .page-frontend-grid .page-frontend-context .page-frontend-link {
  margin: 50px auto;
}

.extended-content .page-frontend-grid .page-frontend-context .page-frontend-link a {
  display: block;
  margin: auto;
  padding: 15px 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #060606;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.extended-content .page-frontend-grid .page-frontend-context .page-frontend-link a:hover {
  color: #fff;
  background-color: #444343;
}

@media (max-width: 1920px) {
  .extended-content .page-frontend-grid {
    max-width: 100vw;
  }
}

.bx-controls .bx-controls-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bx-controls .bx-controls-direction .bx-prev,
.bx-controls .bx-controls-direction .bx-next {
  font-size: 0;
  display: block;
  width: 34px;
  height: 34px;
  border: 1px solid #7d7979;
  border-radius: 5px;
}

.bx-controls .bx-controls-direction .bx-prev:after,
.bx-controls .bx-controls-direction .bx-next:after {
  content: "";
  display: block;
  background-image: url(../Images/arrow.png);
  background-size: 12px 8px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.bx-controls .bx-controls-direction .bx-prev.disabled,
.bx-controls .bx-controls-direction .bx-next.disabled {
  display: none;
}

.bx-controls .bx-controls-direction .bx-next:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.bx-controls .bx-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bx-controls .bx-pager .bx-pager-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bx-controls .bx-pager .bx-pager-item a {
  font-size: 0;
  display: block;
}

.bx-controls .bx-pager .bx-pager-item a.bx-pager-link {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 5px 10px;
  background-color: #d3cece;
}

.bx-controls .bx-pager .bx-pager-item a.bx-pager-link.active {
  background-color: #ff5260;
}

.page-foot.page-frontend-page-footer {
  background-color: #444343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page-foot.page-frontend-page-footer .widget-inner {
  width: 100%;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid {
  max-width: 1145px;
  width: 100%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(-n+2) {
  border-bottom: 1px solid #fff;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid .page-menu {
  display: block;
  margin: auto;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid .page-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid .page-menu > ul > li.__item {
  width: 25%;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid .page-menu > ul > li.__item a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .client-full-client > table {
  width: 100%;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .client-full-client > table tr {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .client-full-client > table tr.tr-display-name, .page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .client-full-client > table tr.tr-full-name-and-surname {
  font-weight: 500;
  line-height: 34px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .client-full-client > table tr.tr-display-name span.display-name, .page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .client-full-client > table tr.tr-full-name-and-surname span.display-name {
  display: block;
  padding-bottom: 10px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .company_email,
.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .client-frontend-owner-info .company_phone {
  display: block;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .facebook,
.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .instagram,
.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .youtube {
  display: block;
  height: 55px;
  width: 55px;
  padding: 0 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .facebook span,
.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .instagram span,
.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .youtube span {
  font-size: 0px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .facebook {
  background-image: url("../Images/iconFbFooter.png");
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .instagram {
  background-image: url("../Images/iconInsFooter.png");
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:nth-child(2) .widget-inner .social-frontend-contact > .youtube {
  background-image: url("../Images/iconTwFooter.png");
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container.is-validated > .form-group .form-text {
  display: block;
  margin: 20px 0;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container.is-validated > .form-group .form-text .text_after_submit {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group {
  max-width: 30%;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form button[type=submit] {
  cursor: pointer;
  display: block;
  background-color: #ff5260;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 30px 0 10px auto;
  font-size: 18px;
  font-weight: 500;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_email > .form-control {
  width: calc(100% - 40px);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_email > .form-control + label {
  font-size: 0;
  display: block;
  color: #fff;
  padding: 5px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_agreeNewsletter {
  margin: 10px auto;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_agreeNewsletter input[type="checkbox"] {
  float: left;
  position: relative;
  width: 22px;
  height: 22px;
  color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  cursor: pointer;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_agreeNewsletter input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: 0px;
  left: 5px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_agreeNewsletter input[type="checkbox"]:checked {
  color: #fff;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_agreeNewsletter input[type="checkbox"]:checked::before {
  opacity: 1;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_agreeNewsletter input[type="checkbox"]:checked ~ label::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-group.newsletter_agreeNewsletter > label.control-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid.newsletter_grid .form-container > .form-group form .form-text {
  display: none;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child {
  max-width: none;
  background-color: #242323;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child .common-frontend {
  max-width: 1145px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child .common-frontend > p span {
  padding: 0 5px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child .common-frontend > p.page-foot__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child .common-frontend > p.page-foot__logo span, .page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child .common-frontend > p.page-foot__logo a {
  padding: 0 5px;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child .common-frontend > p.page-foot__logo > a {
  display: block;
}

.page-foot.page-frontend-page-footer .widget-inner .page-frontend-grid:last-child .common-frontend > p.page-foot__logo > a img {
  display: block;
  height: 40px;
}

.page-frontend-cookie {
  position: fixed;
  top: 0;
  padding: 10px;
  background-color: #ff5260;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  z-index: 100;
}

.page-frontend-cookie a.policy {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.page-frontend-cookie button.common-button {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2e2d2d;
  float: right;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.page-frontend-cookie button.common-button:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */